@inject AdminBlazorApp App

<header>
    <h2>Admin Panel</h2>
    <RadzenButton Icon="supervised_user_circle" Click="@(() => App.SetActivePanel(AdminBlazorApp.Panels.Users))" Text="Users Management" />
    <RadzenButton Icon="storage" Click="@(() => App.SetActivePanel(AdminBlazorApp.Panels.Database))" Text="Data Base" />
    <RadzenButton Icon="analytics" Click="@(() => App.SetActivePanel(AdminBlazorApp.Panels.Applications))" Text="App Statistics" />
</header>


<div>
    @switch (App.ActivePanel)
    {
        case AdminBlazorApp.Panels.Users:
            <AdminUsers @bind-App="App"/>
            break;
        case AdminBlazorApp.Panels.Database:
            <AdminDatabase @bind-App="App"/>
            break;
        case AdminBlazorApp.Panels.Applications:
            <AdminApplications @bind-App="App"/>
            break;
        default:
            break;
    }
</div>
