@implements IDisposable
@inject AdminBlazorApp App

<header>
    <h2>Admin Panel</h2>
    <RadzenButton Icon="supervised_user_circle" Click="@(() => App.SetActivePanel(AdminBlazorApp.Panels.Users))" Text="Users Management"/>
</header>


    <div class="container-fluid">
        @switch (App.ActivePanel)
        {
            case AdminBlazorApp.Panels.Users:
                <AdminUsersComponent @bind-App="App"></AdminUsersComponent>
                break;
            default:
                break;
        }
    </div>


<footer>Footer Content — Header.com 2020</footer>

@code {
    [Parameter]
    public string ActiveUserId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await App.Initialize(ActiveUserId);
        App.CallStateHasChanged += new EventHandler(CallStateHasChanged);
    }

    private void CallStateHasChanged(object sender, EventArgs e) => StateHasChanged();

    public void Dispose() => App.CallStateHasChanged -= new EventHandler(CallStateHasChanged);
}
