

<div class="sidebar">
    <div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">Kancelaria</a>
        <button class="navbar-toggler" @onclick="vm.ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@vm.NavMenuCssClass" @onclick="vm.ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" @onclick="@(() => vm.SetActivePanel(AdminMainComponentViewModel.Panels.Users))">
                    <span class="oi oi-list-rich" aria-hidden="true"></span>Users
                </NavLink>
            </li>
        </ul>
    </div>
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @switch(vm.ActivePanel)
        {
            case AdminMainComponentViewModel.Panels.Users:
                <AdminUsersComponent ActiveUserId="@ActiveUserId"></AdminUsersComponent>
                break;
            case AdminMainComponentViewModel.Panels.Licenses:
                break;
            default:
                break;
        }
    </div>
</div>

@code {
    [Parameter]
    public string ActiveUserId { get; set; }

    private AdminMainComponentViewModel vm = new AdminMainComponentViewModel();
}
