@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');


html, body {
    color: rgb(0, 0, 0);
    font-size: 12px;
    margin: 0;
}

#grid-container-2 {
    display: grid;
    grid-template-columns:
    /* 1 */ auto
    /* 2 */ auto
    /* 3 */ auto;
    grid-template-rows:
    /* 4 */ auto
    /* 5 */ auto
    /* 6 */ auto
    /* 7 */ auto
    /* 8 */ auto
    /* 9 */ auto
    /* 10 */ auto
    /* 11 */ auto;
}

#sidebar {
    grid-column: 1;
    grid-row: 1 / span 10;
    background-image: url(../../Images/19366.jpg);
    background-repeat: no-repeat;
    background-position: left center;
}

ul, li {
    list-style-type: none;
}

.nav-item:active {
    font-weight: bold;
}

.nav-item:hover {
    opacity: 0.7;
}

.input-group {
    margin-top: 20px;
    margin-left: 28px;
}

.explain {
    font-style: italic;
    font-size: 14px;
}

#top-menu {
    grid-column: 2;
    grid-row: 1;
    background-image: url(../../Images/19366.jpg);
    background-repeat: no-repeat;
    background-position: right center;
   /* margin-bottom: 50px;*/
    }

.nav-item {
    float: left;
    padding: 10px;
}

.user {
    float: right;
    padding: 10px;
    margin-right: 60px;
}

.title {
    font-size: 25px;
}

#main-window {
    grid-column: 2;
    grid-row: 2 / span 8;
    align-self: start;
    
}

/*Legal SWP Clients*/

.grid-container-i /*information box*/ {
    display: grid;
    grid-template-columns: 500px 20px;
    align-content: center;
    grid-gap: 5px;
    padding: 5px;
    position: absolute;
    z-index: 999;
    top: 90px;
}

.grid-container /*form layout*/ {
    display: grid;
    grid-template-columns: 45px auto 45px auto;
    align-content: center;
    grid-gap: 10px;
    padding: 25px;
    margin-top: 20px;
}

.form /*form size*/ {
    height: 250px;
    width: 850px;
}

.info /*Information icon*/ {
    position: absolute;
    top: 32px;
    right: -10%;
    background: url(../../Images/icons8-info-squared-36.png) no-repeat;
    cursor: pointer;
    border: none;
    height: 50px;
    width: 50px;
    outline: none !important;
}

    .info:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background: white;
        opacity: 0.3;
        height: 35px;
        width: 50px;
        transform: skew(-45deg);
        background: linear-gradient(to right, white, white 5px, transparent);
        transform-origin: left bottom;
        animation: shine 5s ease-in infinite;
    }

@keyframes shine {
    0% {
        transform: skewX(-45deg) translateX(-100%);
    }

    10% {
        transform: skewX(-45deg) translateX(100%);
    }

    100% {
        transform: skewX(-45deg) translateX(100%);
    }
}


/*.contact-details {
    margin-bottom: 50px;
    height: 180px;
}





/*.info-text {
    position: absolute;
    left: 350px;
    height: 80px;
    width: 100%;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 5px 0px 5px 0px;
    border: 2px solid #0094ff;
}


.info-text {
    animation: moveLeft ease 1s;
    animation-timing-function: ease;
}

@keyframes moveLeft {
    0% {
        opacity: 0;
        margin-left: 25px;
    }

    100% {
        margin-left: 0;
        opacity: 1;
    }
}



.add-client, .client-list, .contact-details, info-panel, .info {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
*/


#footer {
    grid-column: 2/ span 3;
    grid-row: 10;
    /*background-image: url(../../Images/19366.jpg);
    background-repeat: no-repeat;
    background-position: right center;*/
}








