@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');


html, body {
    color: rgb(0, 0, 0);
    font-size: 12px;
    margin: 0;
}

#grid-container-2 {
    display: grid;
    grid-template-columns:
    /* 1 */ auto
    /* 2 */ auto
    /* 3 */ auto;
    grid-template-rows:
    /* 4 */ auto
    /* 5 */ auto
    /* 6 */ auto
    /* 7 */ auto
    /* 8 */ auto
    /* 9 */ auto
    /* 10 */ auto
    /* 11 */ auto;
}

#sidebar {
    grid-column: 1;
    grid-row: 1 / span 10;
    background-image: url(../../Images/19366.jpg);
    background-repeat: no-repeat;
    background-position: left center;
}

ul, li {
    list-style-type: none;
}

.nav-item:active {
    font-weight: bold;
}

.nav-item:hover {
    opacity: 0.7;
}

.input-group {
    margin-top: 20px;
    margin-left: 28px;
}

.explain {
    font-style: italic;
    font-size: 14px;
}

#top-menu {
    grid-column: 2;
    grid-row: 1;
    background-image: url(../../Images/19366.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    /* margin-bottom: 50px;*/
}

.nav-item {
    float: left;
    padding: 10px;
}

.user {
    float: right;
    padding: 10px;
    margin-right: 60px;
}

.title {
    font-size: 25px;
}

#main-window {
    grid-column: 2;
    grid-row: 2 / span 8;
    align-self: start;
}

#footer {
    grid-column: 2/ span 3;
    grid-row: 10;
}

/*Legal SWP Clients*/

/*Page layout - main container*/

.grid-container-main {
    display: grid;
    grid-template-columns:
    /* 1*/ auto
    /* 2*/ auto;
    grid-template-rows:
    /* 2*/ auto
    /* 3*/ auto
    /* 4*/ auto;
    padding: 25px;
}

.show-hide {
    grid-column: 1;
    grid-row: 1;
    border-bottom: 2px solid #0094ff;
}

.show-hide-btn {
    border-radius: 5px 0px 5px 0px;
    border: 2px solid #0094ff;
    padding: 5px;
}


.row-one {
    grid-column: 1;
    grid-row: 2;
    border: 2px solid #0094ff;
}

.row-two {
    grid-column: 1;
    grid-row: 3;
}



/*Add client form*/

.grid-form {
    display: grid;
    grid-template-columns:
    /* 1*/ 50px
    /* 2*/ auto
    /* 3*/ 50px
    /* 4*/ auto;
    grid-template-rows:
    /* 2*/ auto
    /* 3*/ auto
    /* 4*/ auto
    /* 5*/ auto
    /* 6*/ auto;
    grid-column-gap: 5px;
    grid-row-gap: 25px;
}

.user-icon {
    grid-column: 1;
    grid-row: 1;
}

.info-text {
    grid-column: 1 / span 4;
    grid-row: 2;
}

.info {
    grid-column: 4;
    grid-row: 1;
    justify-self: end;
}

#client-label {
    grid-column: 1;
    grid-row: 3;
}

#client-text {
    grid-column: 2;
    grid-row: 3;
}

#adress-label {
    grid-column: 3;
    grid-row: 3;
}

#adress-text {
    grid-column: 4;
    grid-row: 3;
}

#phone-label {
    grid-column: 1;
    grid-row: 4;
}

#phone-text {
    grid-column: 2;
    grid-row: 4;
}

#email-label {
    grid-column: 3;
    grid-row: 4;
}

#email-text {
    grid-column: 4;
    grid-row: 4;
}

#btn-add-client {
    grid-column: 1 / span 4;
    grid-row: 5;
    justify-self: center;
}


/*Information box and icon*/
.info {
    position: relative;
    background: url(../../Images/icons8-info-squared-36.png) no-repeat;
    cursor: pointer;
    border: none;
    height: 50px;
    width: 50px;
    outline: none !important;
}

    .info:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background: white;
        opacity: 0.3;
        height: 35px;
        width: 50px;
        transform: skew(-45deg);
        background: linear-gradient(to right, white, white 5px, transparent);
        transform-origin: left bottom;
        animation: shine 5s ease-in infinite;
    }



.info-text {
    height: auto;
    width: auto;
    background-color: #ffffff;
    border-radius: 5px 0px 5px 0px;
    border: 2px solid #0094ff;
    padding: 5px;
}


@keyframes shine {
    0% {
        transform: skewX(-45deg) translateX(-100%);
    }

    10% {
        transform: skewX(-45deg) translateX(100%);
    }

    100% {
        transform: skewX(-45deg) translateX(100%);
    }
}

























/*.grid-container form layout {
    display: grid;
    grid-template-columns: 45px auto 45px auto;
    align-content: center;
    grid-gap: 10px;
    padding: 25px;
    margin-top: 20px;
}


.grid-container form layout {
    display: grid;
    grid-template-columns:
     1  80px
     2  auto
     3  auto;
    grid-template-rows:
     4 auto
     5  auto
     6  auto
     7  auto;
    grid-gap: 1em;
}




#client-label {
    grid-column: 1;
    grid-row: 1;
}

#client-text {
    grid-column: 2;
    grid-row: 1;
}

#adress-label {
    grid-column: 1;
    grid-row: 2;
}

#adress-text {
    grid-column: 2;
    grid-row: 2;
}

#phone-label {
    grid-column: 1;
    grid-row: 3;
}

#phone-text {
    grid-column: 2;
    grid-row: 3;
}

#email-label {
    grid-column: 1;
    grid-row: 4;
}

#email-text {
    grid-column: 2;
    grid-row: 4;
}


.form form size {
    height: 250px;
    width: 650px;
}

.grid-container-i*/ /*information box {
    display: grid;
    grid-template-columns: 500px 20px;
    align-content: center;
    grid-gap: 5px;
    padding: 5px;
    position: absolute;
    z-index: 999;
    top: 90px;
}




.info Information icon {
    grid-column: 3;
    grid-row: 1;
    background: url(../../Images/icons8-info-squared-36.png) no-repeat;
    cursor: pointer;
    border: none;
    height: 50px;
    width: 50px;
    outline: none !important;
}

    .info:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background: white;
        opacity: 0.3;
        height: 35px;
        width: 50px;
        transform: skew(-45deg);
        background: linear-gradient(to right, white, white 5px, transparent);
        transform-origin: left bottom;
        animation: shine 5s ease-in infinite;
    }

.info-text {
    position: absolute;
    left: 350px;
    height: 80px;
    width: 100%;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 5px 0px 5px 0px;
    border: 2px solid #0094ff;
}


@keyframes shine {
    0% {
        transform: skewX(-45deg) translateX(-100%);
    }

    10% {
        transform: skewX(-45deg) translateX(100%);
    }

    100% {
        transform: skewX(-45deg) translateX(100%);
    }
}





 For 1280 Resolution 
@media only screen and (min-device-width : 768px) and (max-device-width : 1280px) {



    #grid-container-3 {
        display: grid;
        grid-template-columns:
 1  auto
 2  auto;
        grid-template-rows:
 4  auto
 5  auto
 6  auto;
        
        
    }

    #form-box {
        grid-column: 1 / span 2;
        grid-row: 1;
        grid-gap: 25px;
    }

    #btn-add-client {
        grid-column: 1 / span 2;
        grid-row: 2;
        grid-gap: 25px;
        align-content: center;
    }

    .form form size {
        height: 250px;
        width: 800px;
        padding: 10px;
    }

    .info Information icon {
        position: absolute;
        top: ;
        right: -40%;
        background: url(../../Images/icons8-info-squared-36.png) no-repeat;
        cursor: pointer;
        border: none;
        height: 50px;
        width: 50px;
        outline: none !important;
    }

        .info:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            background: white;
            opacity: 0.3;
            height: 35px;
            width: 50px;
            transform: skew(-45deg);
            background: linear-gradient(to right, white, white 5px, transparent);
            transform-origin: left bottom;
            animation: shine 5s ease-in infinite;
        }

    .info-2 Information icon {
        position: absolute;
        top: 310px;
        right: -40%;
        background: url(../../Images/icons8-info-squared-36.png) no-repeat;
        cursor: pointer;
        border: none;
        height: 50px;
        width: 50px;
        outline: none !important;
    }

        .info-2:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            background: white;
            opacity: 0.3;
            height: 35px;
            width: 50px;
            transform: skew(-45deg);
            background: linear-gradient(to right, white, white 5px, transparent);
            transform-origin: left bottom;
            animation: shine 5s ease-in infinite;
        }

    @keyframes shine {
        0% {
            transform: skewX(-45deg) translateX(-100%);
        }

        10% {
            transform: skewX(-45deg) translateX(100%);
        }

        100% {
            transform: skewX(-45deg) translateX(100%);
        }
    }

    .info-text {
        position: absolute;
        left: 120px;
        height: 75px;
        width: 100%;
        padding: 5px;
        background-color: #ffffff;
        border-radius: 5px 0px 5px 0px;
        border: 2px solid #0094ff;
    }

    .info-text-2 {
        position: absolute;
        top: 310px;
        left: 120px;
        height: 75px;
        width: 100%;
        padding: 5px;
        background-color: #ffffff;
        border-radius: 5px 0px 5px 0px;
        border: 2px solid #0094ff;
    }

    #list {
        grid-column: 1 / span 2;
        grid-row: 3;
        padding: 25px 5px 5px 5px;
    }

    .client-list {
        width: 100%;
    }

    .contact-details {
        width: 100%;
    }
}

 For 1366 Resolution 

@media only screen and (min-width: 1030px) and (max-width: 1366px) {
    #grid-container-3 {
        display: grid;
        grid-template-columns:
 1  auto
 2  auto;
        grid-template-rows:
 4  auto
 5  auto
 6  auto;
    }

    #form-box {
        grid-column: 1 / span 2;
        grid-row: 1;
        grid-gap: 25px;
    }

    #btn-add-client {
        grid-column: 1 / span 2;
        grid-row: 2;
        grid-gap: 25px;
        align-content: center;
    }

    .form form size {
        height: 250px;
        width: 920px;
        padding: 10px;
    }

    .info Information icon {
        position: absolute;
        top:;
        right: -60%;
        background: url(../../Images/icons8-info-squared-36.png) no-repeat;
        cursor: pointer;
        border: none;
        height: 50px;
        width: 50px;
        outline: none !important;
    }

        .info:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            background: white;
            opacity: 0.3;
            height: 30px;
            width: 15px;
            transform: skew(-45deg);
            background: linear-gradient(to right, white, white 5px, transparent);
            transform-origin: left bottom;
            animation: shine 5s ease-in infinite;
        }

    .info-2 Information icon {
        position: absolute;
        top: 310px;
        right: -60%;
        background: url(../../Images/icons8-info-squared-36.png) no-repeat;
        cursor: pointer;
        border: none;
        height: 50px;
        width: 50px;
        outline: none !important;
    }

        .info-2:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            background: white;
            opacity: 0.3;
            height: 30px;
            width: 15px;
            transform: skew(-45deg);
            background: linear-gradient(to right, white, white 5px, transparent);
            transform-origin: left bottom;
            animation: shine 5s ease-in infinite;
        }

    @keyframes shine {
        0% {
            transform: skewX(-45deg) translateX(-100%);
        }

        10% {
            transform: skewX(-45deg) translateX(100%);
        }

        100% {
            transform: skewX(-45deg) translateX(100%);
        }
    }

    .info-text {
        position: absolute;
        left: 160px;
        height: 75px;
        width: 100%;
        padding: 5px;
        background-color: #ffffff;
        border-radius: 5px 0px 5px 0px;
        border: 2px solid #0094ff;
    }

    .info-text-2 {
        position: absolute;
        top: 310px;
        left: 160px;
        height: 75px;
        width: 100%;
        padding: 5px;
        background-color: #ffffff;
        border-radius: 5px 0px 5px 0px;
        border: 2px solid #0094ff;
    }

    #list {
        grid-column: 1 / span 2;
        grid-row: 3;
        padding: 25px 5px 5px 5px;
    }

    .client-list {
        width: 100%;
    }

}

@media only screen and (min-width: 1366px) {

    #grid-container-3 {
        display: grid;
        grid-template-columns:
 1  auto
 2  auto;
        grid-template-rows:
 4  auto
 5  auto
 6  auto
 7  auto
 8  auto
 9  auto
 10  auto
 11  auto;
    }

    #form-box {
        grid-column: 1 / span 2 ;
        grid-row: 1 / span 2;
        grid-gap: 25px;
    }

    #btn-add-client {
       margin-top: 120px;
    }

    .form form size {
        height: 250px;
        width: 500px;
        padding-top: 27px;
    }

    .info Information icon {
        position: absolute;
        top: 165%;
        right: 5%;
        background: url(../../Images/icons8-info-squared-36.png) no-repeat;
        cursor: pointer;
        border: none;
        height: 50px;
        width: 50px;
        outline: none !important;
    }

        .info:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            background: white;
            opacity: 0.3;
            height: 30px;
            width: 25px;
            transform: skew(-45deg);
            background: linear-gradient(to right, white, white 5px, transparent);
            transform-origin: left bottom;
            animation: shine 5s ease-in infinite;
        }

    .info-2 Information icon {
        position: absolute;
        top: 10px;
        right: -130%;
        background: url(../../Images/icons8-info-squared-36.png) no-repeat;
        cursor: pointer;
        border: none;
        height: 50px;
        width: 50px;
        outline: none !important;
    }

        .info-2:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            background: white;
            opacity: 0.3;
            height: 30px;
            width: 25px;
            transform: skew(-45deg);
            background: linear-gradient(to right, white, white 5px, transparent);
            transform-origin: left bottom;
            animation: shine 5s ease-in infinite;
        }

    @keyframes shine {
        0% {
            transform: skewX(-45deg) translateX(-10%);
        }

        10% {
            transform: skewX(-45deg) translateX(100%);
        }

        100% {
            transform: skewX(-45deg) translateX(80%);
        }
    }

    .info-text {
        position: absolute;
        left: 90px;
        height: 85px;
        width: 350px;
        padding: 5px;
        background-color: #ffffff;
        border-radius: 5px 0px 5px 0px;
        border: 2px solid #0094ff;
    }

    .info-text-2 {
        position: absolute;
        right: -610px ;
        height: 75px;
        width: 100%;
        padding: 5px;
        background-color: #ffffff;
        border-radius: 5px 0px 5px 0px;
        border: 2px solid #0094ff;
    }

    #list {
        grid-column: 2 / span 2 ;
        grid-row: 1 / span 3;
        padding: 25px 5px 5px 5px;
    }

    .client-list {
        width: 100%;
        padding: 10px;
        margin-right: 20px;
    }
    .contact-details {
        width: 100%;
        padding: 0;
        margin: 0;
    }


    .grid-container form layout {
        display: grid;
        grid-template-columns:
 1  80px
 2  auto;
        grid-template-rows:
 4  auto
 5  auto
 6  auto
 7  auto;
        
    }

    #client-label {
        grid-column: 1;
        grid-row: 1 ;
    }
    #client-text {
        grid-column: 2;
        grid-row: 1;
    }
    #adress-label {
        grid-column: 1;
        grid-row: 2;
    }
    #adress-text {
        grid-column: 2;
        grid-row: 2;
    }

    #phone-label {
        grid-column: 1;
        grid-row: 3;
    }

    #phone-text {
        grid-column: 2;
        grid-row: 3;
    }

    #email-label {
        grid-column: 1;
        grid-row: 4;
    }

    #email-text {
        grid-column: 2;
        grid-row: 4;
    }


}






























.contact-details {
    margin-bottom: 50px;
    height: 180px;
}
/*.info-text {
    animation: moveLeft ease 1s;
    animation-timing-function: ease;
}

@keyframes moveLeft {
    0% {
        opacity: 0;
        margin-left: 25px;
    }

    100% {
        margin-left: 0;
        opacity: 1;
    }
}



.add-client, .client-list, .contact-details, info-panel, .info {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}*/


