


html, body {
    color: rgb(0, 0, 0);
    margin: 0;
}

#grid-container-2 {
    font-size: 12px;
    display: grid;
    grid-template-columns:
    /* 1 */ 250px
    /* 2 */ 65%;
    grid-template-rows:
    /* 4 */ auto
    /* 5 */ auto
    /* 6 */ auto
    /* 7 */ auto
    /* 8 */ auto
    /* 9 */ auto
    /* 10 */ auto
    /* 11 */ auto;
}

#sidebar {
    font-size: 12px;
    grid-column: 1;
    grid-row: 1 / span 10;
    /* background-image: url(../../Images/19366.jpg);
    background-repeat: no-repeat;
    background-position: left center;*/
}

ul, li {
    list-style-type: none;
    font-size: 12px;
    cursor: pointer;
}

.nav-item:active {
    font-weight: bold;
}

.nav-item:hover {
    opacity: 0.7;
}

.input-group {
    margin-top: 20px;
    margin-left: 28px;
}

.explain {
    font-style: italic;
    font-size: 14px;
    font-size: 12px;
}

#top-menu {
    grid-column: 2 / span 3;
    grid-row: 1;
    background-image: url(../../Images/19366.jpg);
    background-repeat: no-repeat;
    background-position: right center;
}

.nav-item {
    float: left;
    padding: 10px;
}

.user {
    float: right;
    padding: 10px;
    margin-right: 60px;
}

.title {
    font-size: 25px;
}

#main-window {
    grid-column: 2;
    grid-row: 2 / span 8;
    padding: 25px;
}

/*Clients Page*/

.flex-container-main {
    display: flex;
    flex-direction: column;
    
}
/*Form*/

.form {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*flex-grow: 1;*/
}

.form-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.label {
   
    padding: 5px;
    font-weight: bold;
    justify-content: left;
}

.text {
    width: 100%;
    justify-content: left;
    padding: 15px;
    
}



.show-hide-btn {
    background: #b3e0ff;
    border: none;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none !important;
    font-size: 0.9rem;
    padding: 5px 15px;
    transform: skew(-21deg);
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: -2px;
    width: 150px;
    font-size: 12px;
}

.show-hide-btn-1 {
    background-color: white;
    color: black;
    border: 2px solid #80ccff;
}


    .show-hide-btn-1:hover {
        background-color: #80ccff;
        color: white;
        outline: none;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

.button-active {
    background-color: #80ccff;
    border-color: #80ccff !important;
    color: white;
    outline: none !important;
}


.show-hide-btn-1 > span {
    display: inline-block;
    transform: skew(21deg);
}


.row-section {
    margin-top: 20px;
    padding-bottom: 20px;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.tab-section {
    border-bottom: 2px solid #80ccff;
    margin-bottom: 20px;
}


/*Information box and icon*/

.help-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
}

.info {
    position: relative;
    background: url(../../Images/icons8-info-squared-36.png) no-repeat;
    cursor: pointer;
    border: none;
    height: 50px;
    width: 50px;
    outline: none !important;
}

    .info:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background: white;
        opacity: 0.3;
        height: 35px;
        width: 50px;
        transform: skew(-45deg);
        background: linear-gradient(to right, white, white 5px, transparent);
        transform-origin: left bottom;
        animation: shine 5s ease-in infinite;
    }

@keyframes shine {
    0% {
        transform: skewX(-45deg) translateX(-100%);
    }

    10% {
        transform: skewX(-45deg) translateX(100%);
    }

    100% {
        transform: skewX(-45deg) translateX(100%);
    }
}


.info-text {
    height: auto;
    width: auto;
    font-size: 12px;
    background-color: #ffffff;
    border-radius: 5px 0px 5px 0px;
    border: 2px solid #80ccff;
    padding: 6px;
    animation: moveInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes moveInAnimation {
    0% {
        opacity: 0;
        transform: translate3d(-30%, 0, 0 );
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


.calendar-main {
    animation: popUpAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-box-shadow: 10px 10px 61px 1px rgba(184,222,242,0.39);
    -moz-box-shadow: 10px 10px 61px 1px rgba(184,222,242,0.39);
    box-shadow: 10px 10px 61px 1px rgba(184,222,242,0.39);
    background: linear-gradient(135deg, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
}

.client-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.list-table {
    margin-top: 20px;
}

.second {
    border: 1px solid #dcdcdc;
    padding: 15px;
}


.details {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    -webkit-box-shadow: 10px 10px 61px 1px rgba(184,222,242,0.39);
    -moz-box-shadow: 10px 10px 61px 1px rgba(184,222,242,0.39);
    box-shadow: 10px 10px 61px 1px rgba(184,222,242,0.39);
    background: linear-gradient(135deg, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
/*Any popu box on the app*/
.popup-box {
    margin: auto;
    animation: popUpAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes popUpAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.calendar-entry {
    height: 30px;
    padding: 1px;
}
