<h3>AddCasePage</h3>

<RadzenTemplateForm Data="@App.CasesPanel.NewCase" Submit="@(async (CreateCase.Request args) => { await App.CasesPanel.CreateNewCase(args); })">
    <div class="row">
        <RadzenFieldset Text="Nowa Sprawa">
            <div class="row">
                <div class="col-md-4 align-items-center d-flex">
                    <RadzenLabel Text="Nazwa" />
                </div>
                <div class="col-md-8">
                    <RadzenTextBox Placeholder="Nazwa Srawy..." Style="margin-bottom: 30px" @bind-Value="App.CasesPanel.NewCase.Name" Name="Name" />
                    <RadzenRequiredValidator Component="Name" Text="Name cannot be empty!" Popup="true" />
                    <RadzenLengthValidator Max="50" Text="Max 50 characters!" Component="Name" Popup="true" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 align-items-center d-flex">
                    <RadzenLabel Text="Sygnatura" />
                </div>
                <div class="col-md-8">
                    <RadzenTextBox Placeholder="Sygnatura..." Style="margin-bottom: 30px" @bind-Value="App.CasesPanel.NewCase.Signature" Name="Signature" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 align-items-center d-flex">
                    <RadzenLabel Text="opis" />
                </div>
                <div class="col-md-8">
                    <RadzenTextArea Placeholder="Opis..." Style="margin-bottom: 30px" @bind-Value="App.CasesPanel.NewCase.Description" Name="Description" />
                    <RadzenLengthValidator Max="500" Text="Max 500 characters!" Component="Description" Popup="true" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 align-items-center d-flex">
                    <RadzenLabel Text="Typ Sprawy" />
                </div>
                <div class="col-md-8">
                    <RadzenTextArea Placeholder="Typ Sprawy..." Style="margin-bottom: 30px" @bind-Value="App.CasesPanel.NewCase.CaseType" Name="CaseType" />
                </div>
            </div>
        </RadzenFieldset>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
            <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Zapisz" />
        </div>
    </div>
</RadzenTemplateForm>

<RadzenButton Click="App.ThrowTestException"/>

@code {
    [Parameter]
    public LegalBlazorApp App { get; set; }
    [Parameter]
    public EventCallback<LegalBlazorApp> AppChanged { get; set; }
}
