@page
@model SWP.UI.Pages.Marketing.Legal.IndexModel
@{
}

<div class="container">
    <div class="module pb-4">
        <header>
            <h1>
                Twoja Kancelaria
            </h1>
            <p>Zarządzaj swoimi klientami, sprawami i kalendarzem w jednym miejscu.</p>
            <p>Z Twoją Kancelarią organizacja pracy kancelarii będzie naprawdę prosta.</p>
        </header>
    </div>
    <hr />
    <section>
        <div>

        </div>
    </section>
</div>
<section class="mb-5">
    <div class="app-tex ml-3 pb-3">
        <h2 class="text-center">Opis głównych funkcji</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam odio orci, volutpat eu tristique sit amet, vestibulum vel arcu.
            Nunc sit amet pellentesque metus. Phasellus suscipit felis nibh, et venenatis nisi fermentum in.
            In nec enim ex. Pellentesque vel magna enim. Fusce molestie finibus lorem sed ultricies.
            Vestibulum vel lacinia ligula. Nulla facilisi. Donec vehicula ut dolor ac aliquam.
        </p>
        <div class="product-section ml-3">
            <div class="p-2">
                <img class="mx-auto d-block p-2" src="/Images/icons8-contact-details-50.png" />
                <p>Aplikacja stanowi bazę Twoich klinetów. Intuicyjny panel pozwla na łatwe dodawanie lub modyfikowanie Klientów.</p>
                <p>Zrezygnuj z utrzymywania danych kontaktowych w notesie! Twoja Kancelaria w łatwy sposób pomoże uporządkować listę Twoich klinetów oraz osób kontaktowych</p>
            </div>
            <div class="p-2">
                <img class="mx-auto d-block p-2" src="/Images/icons8-calendar-12-50.png" />
                <p>Aplikacja stanowi bazę Twoich klinetów. Intuicyjny panel pozwla na łatwe dodawanie lub modyfikowanie Klientów.</p>
                <p>Zrezygnuj z utrzymywania danych kontaktowych w notesie! Twoja Kancelaria w łatwy sposób pomoże uporządkować listę Twoich klinetów oraz osób kontaktowych</p>
            </div>
            <div class="p-2">
                <img class="mx-auto d-block p-2" src="/Images/icons8-account-50.png" />
                <p>Aplikacja stanowi bazę Twoich klinetów. Intuicyjny panel pozwla na łatwe dodawanie lub modyfikowanie Klientów.</p>
                <p>Zrezygnuj z utrzymywania danych kontaktowych w notesie! Twoja Kancelaria w łatwy sposób pomoże uporządkować listę Twoich klinetów oraz osób kontaktowych</p>
            </div>

        </div>
    </div>
    <div class="d-flex flex-row screens ml-3">
        <div><img class="rzut-1" src="/Images/Main-window-rzut.png" /></div>
        <div><img class="rzut-2" src="/Images/Calendar-window-rzut.png" /></div>
        <div><img class="rzut-3" src="/Images/Lista-zadan-rzut.png" /></div>

    </div>
</section>




<section class="pricing-table d-flex align-items-center">
    <div class="container pt-4">
        <div class="row mb-5">

            <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0 price-card">
                    <div class="card-body text-dark">
                        <h4 class="card-title text-uppercase text-center font-weight-bolder">
                            Strony internetowe
                        </h4>
                        <h6 class="card-price text-center">od 800PLN<span class="term"></span></h6>
                        <h5 class="text-center text-uppercase font-weight-bolder">Wordpress</h5>
                        <hr class="my-4">
                        <ul class="fa-ul">

                            <li>
                                <img src="Images\icons8-check-mark-12.png" /> strona tworzona na podstawie
                                originalnego szablonu
                            </li>
                            <li><img src="Images\icons8-check-mark-12.png" /> system zarządzania treścią (CMS)</li>
                            <li>
                                <img src="Images\icons8-check-mark-12.png" /> optymalizacja treści, aby była
                                bardziej przyjazna dla wyszukiwarek (SEO)
                            </li>

                            <li><img src="Images\icons8-cross-mark-12.png" /> Rejestracja domeny</li>
                            <li><img src="Images\icons8-cross-mark-12.png" /> Hosting</li>
                            <li><img src="Images\icons8-cross-mark-12.png" /> Wprowadzanie zmian </li>

                        </ul>

                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0 price-card">
                    <div class="card-body text-dark">
                        <h4 class="card-title text-uppercase text-center font-weight-bolder">
                            Strony internetowe
                        </h4>
                        <h6 class="card-price text-center">od 1600PLN<span class="term"></span></h6>
                        <h5 class="text-center text-uppercase font-weight-bolder">Projekty Indywidualne</h5>
                        <hr class="my-4">
                        <ul class="fa-ul">
                            <li>
                                <img src="Images\icons8-check-mark-12.png" />unikatowy design
                            </li>
                            <li><img src="Images\icons8-check-mark-12.png" /> system zarządzania treścią (CMS)</li>
                            <li>
                                <img src="Images\icons8-check-mark-12.png" /> dodatkowe opcje dla użytkowników
                            </li>
                            <li><img src="Images\icons8-check-mark-12.png" /> </li>

                            <li><img src="Images\icons8-cross-mark-12.png" /> Rejestracja domeny</li>
                            <li><img src="Images\icons8-cross-mark-12.png" /> Hosting</li>
                            <li><img src="Images\icons8-cross-mark-12.png" /> Wprowadzanie zmian </li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card price-card">
                    <div class="card-body text-dark">
                        <h4 class="card-title text-uppercase text-center font-weight-bolder">
                            Aplikacje
                        </h4>
                        <h6 class="card-price text-center">od 1600PLN<span class="term"></span></h6>
                        <h5 class="text-center text-uppercase font-weight-bolder">Projekty Indywidualne</h5>
                        <hr class="my-4">
                        <ul class="fa-ul">

                            <li><img src="Images\icons8-check-mark-12.png" /> 150GB Storage</li>
                            <li>
                                <img src="Images\icons8-check-mark-12.png" /> Unlimited Public Projects
                            </li>
                            <li><img src="Images\icons8-check-mark-12.png" /> Community Access</li>
                            <li>
                                <img src="Images\icons8-check-mark-12.png" /> Unlimited Private
                                Projects
                            </li>
                            <li>
                                <img src="Images\icons8-check-mark-12.png" /> Dedicated Phone Support
                            </li>
                            <li>
                                <img src="Images\icons8-check-mark-12.png" /> <strong>Unlimited</strong>
                                Free Subdomains
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>










@*<div class="container mb-5 mt-5">
        <div class="card product-card m-auto shadow-lg p-3 mb-5 bg-white rounded">
            <img class="card-img" src="~/Images/tingey-injury-law-firm-yCdPU73kGSc-unsplash.jpg" />
            <div class="card-body">
                <h2 class="card-title text-center mb-4">TWOJA KANCELARIA</h2>
                <a class="download mb-2" asp-page="/Communication/Request">Kup Licencję</a>
                <p class="card-text">Zarządzaj swoimi klientami, sprawami i kalendarzem, wszystko w jednym miejscu.</p>
                <hr />
                <div class="row">
                    <div class="col-6">
                        <ul class="list-group">
                            <li class="list-group-item">Pierwszy użytkownik</li>
                            <li class="list-group-item">Każdy następny użytkownik</li>
                            <li class="list-group-item">Zmiana lub ulepszenie do aplikacji</li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-group">
                            <li class="list-group-item">75zł miesięcznie</li>
                            <li class="list-group-item">50zł miesięcznie</li>
                            <li class="list-group-item">od 500zł</li>
                        </ul>
                    </div>
                </div>
                <hr />
                <h4 class="mb-4 text-center">DODATKOWE INFORMACJE</h4>
                <div class="row">

                    <div class="col-4">
                        <h6 class="instr-1">Cel Aplikacji</h6>
                        <p>Celem tej aplikacji jest w możliwie największym stopniu ustrawnienie zadań administracyjnych związanych z prowadzeniam kancelarii prawnej.</p>
                    </div>
                    <div class="col-4">
                        <h6 class="instr-1">Rzwój Aplikacji</h6>
                        <p>Aplikacja pomagająca w obsłudze kancelarii jest przez nas stale rozbudowywana. Staramy się wprowadzać nowe funkcjonalności co miesiąc.</p>
                    </div>
                    <div class="col-4">
                        <h6 class="instr-1">Zmiany i Ulepszenia</h6>
                        <p>Każdy użytkowik może zgłosić chęć wprowadzenia zmiany lub ulepszenia do aplikacji. Każdą taką prośbę rozpatrujemy, w zależności od rodzaju zmiany, wyceniamy taką zmianę lub podajemy powód dla którego nie mogłaby być możliwa.</p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-4">
                        <h6 class="instr-1">Dostęp</h6>
                        <p>Pierwszy użytkownik otrzymuje identyfikator, zwany "Profilem", jeśli zdecydowałby się na założenie konta również swojemu pracownikowi, po kontakcie z nami konto pracownika zostanie przypisane do istniejącego profilu.</p>
                    </div>
                    <div class="col-4">
                        <h6 class="instr-1">Wsparcie</h6>
                        <p>Zapewniamy wsparcie techniczne. W zależności od wybranego pakietu mailowe lub telefoniczne.</p>
                    </div>
                    <div class="col-4">
                        <h6 class="instr-1">Cennik</h6>
                        <p>dostęp do aplikacji dla pierwszego użytkownika to koszt 50zł miesięcznie, oraz 25zł miesięcznie dla każdego kolejnego powiązanego użytkownika.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>*@