/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #000;
}

/*CAROUSEL*/
.carousel, .carousel-inner {
    height: 400px;
    margin-bottom: 2rem;
    margin-top: 0;
}

.carousel-text {
    border: 2px solid #fff;
    padding: 6px 8px;
}

.carousel-text-1 {
    position: absolute;
    left: 33%;
    top: 10%;
}

.carousel-text-2 {
    position: absolute;
    width: 350px;
    left: 65%;
    top: 2%;
}

.carousel-text-3 {
    position: absolute;
    width: 390px;
    left: 10%;
    top: 2%;
}



.carousel-text-1 a {
    margin-left: 4rem;
}

.carousel-text p {
    white-space: normal;
}

a {
    color: #262626;
    text-decoration: none;
}

ul {
    list-style: none;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1rem;
}



.nav-item {
    white-space: nowrap;
    padding: 0.2rem 0.3rem 0rem 0.3rem;
}

li {
    /* color: #000;*/
    font-size: 14px;
}

.nav-item a:hover {
    color: #262626;
    text-decoration: none;
    border-bottom: 2px solid;
}

.reg-item:hover {
    color: #262626;
    text-decoration: none;
    border-bottom: 2px solid;
}


/*.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    border-radius: 0;
    padding: 5px 10px;
    background: #262626;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

    .btn:hover {
        background-color: #007bff;
        opacity: 0.9;
        color: #fff;
    }*/


.download {
    cursor: pointer;
    display: inline-block;
    border: 0;
    padding: 8px 20px;
    background: #262626;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

    .download:hover {
        opacity: 0.9;
        color: #fff;
        text-decoration: none;
    }



.rodo-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.5rem;
}

    .rodo-links button {
        width: 250px;
    }

.contact-btn {
    width: 280px;
    height: 100%;
}

.ui-button, .btn {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    background: linear-gradient(to right, #262626 50%, #007bff 50%) !important;
    color: #fff !important;
    font-size: 12px !important;
    font-weight: bold;
    outline: none !important;
    background-size: 205% 100% !important;
    background-position: left bottom !important;
    transition: all .4s ease-in-out !important;
    border: 0 !important;
}

    .ui-button:hover,
    .btn:hover {
        background-position: right bottom !important;
        color: #fff !important;
        outline: none !important;
        border: 0 !important;
    }


.r-btn {
    padding-right: 0.6rem;
}

.dropdown-menu {
    border: 0;
}

.dropdown-toggle {
    cursor: pointer !important;
}

.dropdown-menu a {
    padding: 2px;
}

    .dropdown-menu a:hover,
    .dropdown-menu a:active {
        color: #262626;
        text-decoration: none;
        border-bottom: 2px solid;
        background-color: #fff;
    }

.navbar .nav-item .dropdown-menu {
    display: none;
}

.navbar .nav-item:hover .dropdown-menu {
    display: block;
}

.navbar .nav-item .dropdown-menu {
    margin-top: 0;
}

/*Showcase*/
.showcase {
    width: 100%;
    height: 400px;
    background-image: url('../Images/jess-bailey-q10VITrVYUM-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

    .showcase h2, .showcase p {
        margin-bottom: 10px;
    }

/* Home cards */

.home-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .home-cards img {
        width: 100%;
        height: 50%;
        margin-bottom: 20px;
    }

    .home-cards h3 {
        margin-bottom: 5px;
    }

.main-links {
    display: inline-block;
    padding-top: 10px;
    color: #0067b8;
    font-weight: bold;
}

    .main-links:hover i {
        margin-left: 10px;
    }

.forward {
    height: 14px;
}

.offer {
    padding: 0.5rem;
}

    .offer img:hover {
        opacity: 0.7;
    }

.main-link {
    display: inline-block;
    border: 2px solid #000;
    padding: 5px 10px;
    font-weight: bold;
    transition: background-color linear 1s;
}

    .main-link:hover {
        text-decoration: none;
        background-color: black;
        color: aliceblue;
    }


.card-img-top {
    height: 180px;
}

.color-font {
    color: #0067b8;
    font-weight: bold;
}

.instr-1 {
    border-bottom: solid;
    border-bottom-color: #0067b8;
    border-bottom-width: 2px;
    padding-bottom: 5px;
}

.product-card {
    height: 1500px;
    width: 800px;
}

.user-name {
    color: #0067b8;
}

.btn-2 {
    cursor: pointer;
    display: inline-block;
    border: solid;
    padding: 5px 45px;
    background: #0067b8;
    color: #fff;
    font-size: 16px;
}

    .btn-2:hover {
        opacity: 0.8;
        color: #fff;
        text-decoration: none;
    }

.steps {
    height: 550px;
    background-image: url(/Images/19366.jpg);
    background-position: top;
    background-size:;
    padding: 12px 12px 0px 12px;
}

.app-card {
    background-image: url(/Images/19366.jpg);
    background-position: top;
    background-size: cover;
}

.footer {
    height: 250px;
    margin: 0;
    background-color: #bdbdbd;
}

/*Account management*/

.nav-link:hover {
    color: #fff !important;
    background-color: #007bff;
    text-decoration: none;
    border: none !important;
}

/*REGISTER*/
.register {
    padding-top: 1rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-us {
    height: 550px;
}

.contact {
    background-image: url(../Images/contact-us-photo.jpg);
    height: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-details {
    background-color: #fff;
    width: 100%;
    height: 210px;
}

/*PRODUCT - WEB*/

.module {
    background: url(/Images/tingey-injury-law-firm-yCdPU73kGSc-unsplash.jpg);
    background-attachment: fixed;
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.module-2 {
    background: url(/Images/pexels-pixabay-60504.jpg);
    background-attachment: fixed;
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.module-3 {
    background: url(/Images/website-3374825_1920.jpg);
    background-attachment: fixed;
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

    .module > header,
    .module-2 > header,
    .module-3 > header {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px 10px;
        background: inherit;
        background-attachment: fixed;
        overflow: hidden;
    }

        .module > header::before,
        .module-2 > header::before,
        .module-3 > header::before {
            content: "";
            position: absolute;
            top: -20px;
            left: 0;
            width: 200%;
            height: 200%;
            background: inherit;
            background-attachment: fixed;
            -webkit-filter: blur(10px);
            filter: blur(10px);
        }

        .module > header::after,
        .module-2 > header::after,
        .module-3 > header::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.25)
        }

        .module > header > h1,
        .module > header > p,
        .module-2 > header > h1,
        .module-2 > header > p,
        .module-3 > header > h1,
        .module-3 > header > p {
            margin: 0;
            color: white;
            position: relative;
            z-index: 1;
        }

.product-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pricing-table .card {
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    height: 450px;
}

    .pricing-table .card .card-title {
        font-size: 1rem;
        letter-spacing: .2rem;
        font-weight: 500;
    }

    .pricing-table .card .card-price {
        font-size: 1.8rem;
    }

        .pricing-table .card .card-price .term {
            font-size: .9rem;
        }

    .pricing-table .card .fa-ul li:not(:last-child) {
        margin-bottom: 1rem;
    }

.screens {
    position: relative;
}

.rzut-1 {
    height: 550px;
}

.rzut-2 {
    height: 400px;
    position: absolute;
    top: 30%;
    left: 32%;
}

.rzut-3 {
    height: 350px;
    position: absolute;
    top: 45%;
    left: 50%;
}









@media screen and (max-width: 768px) {
    .navigation {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-top: 2rem;
        margin: 0;
    }

    .nav-item {
        padding: 0.2rem;
    }

        .nav-item a {
            font-size: 0.85rem !important;
        }

    .home-cards {
        display: flex;
        flex-direction: column;
    }

    .right {
        display: flex !important;
        flex-direction: column !important;
        float: left;
    }

    .carousel-text-1 {
        left: 15%;
        top: 30%;
        background-color: #fff;
    }

    .carousel-text-2 {
        left: 15%;
        top: 30%;
        background-color: #fff;
    }

    .carousel-text-3 {
        background-color: #fff;
    }

    .carousel-text-1 h2 {
        font-size: 16px;
    }

    .carousel-text-1 a {
        margin-left: 0;
    }



    @media screen and (min-width: 768px) {
        .navigation {
            width: 100%;
            justify-content: flex-start;
        }

        .nav-item a {
            font-size: 0.85rem !important;
        }
    }
