/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #000;
}

a {
    color: #262626;
    text-decoration: none;
}

ul {
    list-style: none;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1rem;
}

.nav-item {
    white-space: nowrap;
    padding: 0.2rem 0.3rem 0rem 0.3rem;
}

li {
    /* color: #000;*/
    font-size: 14px;
}

.nav-item a:hover {
    color: #262626;
    text-decoration: none;
    border-bottom: 2px solid;
}

.reg-item:hover {
    color: #262626;
    text-decoration: none;
    border-bottom: 2px solid;
}


.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    padding: 5px 10px;
    background: #262626;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

    .btn:hover {
        background-color: #007bff;
        opacity: 0.9;
        color: #fff;
    }

.download {
    cursor: pointer;
    display: inline-block;
    border: 0;
    border-radius: 8px;
    padding: 8px 20px;
    background: #262626;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

    .download:hover {
        opacity: 0.9;
        color: #fff;
        text-decoration: none;
    }

.right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 1.5rem;
    float: right;
}

.rodo-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.5rem;
}

    .rodo-links button {
        width: 250px;
    }

.contact-btn {
    width: 280px;
    height: 100%;
}

.ui-button {

    cursor: pointer;
    display: inline-block;
    border-radius: 8px !important;
    padding: 5px 10px;
    background: #262626 !important;
    color: #fff !important;
    font-size: 12px !important;
    font-weight: bold;
    outline: none !important;
}

    .ui-button:hover {
        background-color: #007bff !important;
        opacity: 0.9 !important;
        color: #fff !important;
        outline: none !important;
        border: 0 !important;
    }

.r-btn {
    padding-right: 0.6rem;

}



/*Showcase*/
.showcase {
    width: 100%;
    height: 400px;
    background-image: url('../Images/jess-bailey-q10VITrVYUM-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

    .showcase h2, .showcase p {
        margin-bottom: 10px;
    }

/* Home cards */

.home-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .home-cards img {
        width: 100%;
        height: 50%;
        margin-bottom: 20px;
    }

    .home-cards h3 {
        margin-bottom: 5px;
    }

    .home-cards a {
        display: inline-block;
        padding-top: 10px;
        color: #0067b8;
        text-transform: uppercase;
        font-weight: bold;
    }

        .home-cards a:hover i {
            margin-left: 10px;
        }

.offer {
    padding: 0.5rem;
}

img:hover {
    opacity: 0.7;
}

.main-link {
    display: inline-block;
    border: 2px solid #000;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color linear 1s;
}

    .main-link:hover {
        text-decoration: none;
        background-color: black;
        color: aliceblue;
    }


.card-img-top {
    height: 180px;
}

.color-font {
    color: #0067b8;
    font-weight: bold;
}

.instr-1 {
    border-bottom: solid;
    border-bottom-color: #0067b8;
    border-bottom-width: 2px;
    padding-bottom: 5px;
}

.product-card {
    height: 1500px;
    width: 800px;
}

.user-name {
    color: #0067b8;
}

.btn-2 {
    cursor: pointer;
    display: inline-block;
    border: solid;
    border-radius: 12px;
    padding: 5px 45px;
    background: #0067b8;
    color: #fff;
    font-size: 16px;
}

    .btn-2:hover {
        opacity: 0.8;
        color: #fff;
        text-decoration: none;
    }

.steps {
    height: 550px;
    background-image: url(/Images/19366.jpg);
    background-position: top;
    background-size:;
    padding: 12px 12px 0px 12px;
}

.app-card {
    background-image: url(/Images/19366.jpg);
    background-position: top;
    background-size: cover;
}

.footer {
    height: 150px;
}

/*Account management*/

.nav-link:hover {
    color: #fff !important;
    background-color: #007bff;
    text-decoration: none;
    border: none !important;
}

/*REGISTER*/
.register {
    padding-top: 1rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}




@media screen and (max-width: 768px) {
    .navigation {
        list-style: none;
        padding-top: 2rem;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .nav-item {
        padding: 0.2rem;
    }

        .nav-item a {
            font-size: 0.85rem !important;
        }

    .home-cards {
        display: flex;
        flex-direction: column;
    }

    .right {
        display: flex;
        flex-direction: column;
        float: none;
    }
}

@media screen and (min-width: 768px) {
    .navigation {
        width: 100%;
        justify-content: flex-start;
    }

    .nav-item a {
        font-size: 0.85rem !important;
    }
}
