@page
@model SWP.UI.Pages.IndexModel
@{
}
<section>
    <div id="myCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="3"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Images/jess-bailey-q10VITrVYUM-unsplash-small.jpg" class="d-block w-100" alt="Computer" />
                <div class="carousel-text carousel-text-1">
                    <h5>Systemy Wspomagania Pracy</h5>
                    <p>Rozwiązania dostosowane do potrzeb Twojej firmy</p>
                    <h2>Aplikacje webowe i desktopowe</h2>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Images/pexels-fauxels-3183197-small.jpg" class="d-block w-100" alt="Computer">
                <div class="carousel-text carousel-text-2">
                    <h2>Twoja Kancelaria</h2>
                    <p>Aplikacja dedykowana kancelariom prawnym, która usprawnia funkcjonowanie Kancelarii.</p>
                    <a asp-page="/Marketing/WebSolutions/Index" class="btn">Sprawdź <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Images/website-860.jpg" class="d-block w-100" alt="...">
                <div class="carousel-text carousel-text-3">
                    <h2>Strony internetowe</h2>
                    <p>Tworzymy strony internetowe z zastosowaniem szablonów Wordpress oraz według indywidualnych projektów.</p>
                    <a asp-page="/Marketing/WebPages/Index" class="btn">Sprawdź <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Images/carousel-item4.jpg" class="d-block w-100" alt="...">
                <div class="carousel-text carousel-text-4">
                    <h2>Sprawdź aktualności</h2>
                    <p>W sekcji aktualności znajdziesz informacje na temat nowych funkcjonalności w istniejących aplikacjach. Dowiesz się również nad jakimi rozwiązaniami aktualnie pracujemy.</p>
                    <a asp-page="/News/Overview" class="btn">Sprawdź <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden"></span>
        </a>
    </div>
</section>
<hr />
<section>
    <div class="d-flex flex-row">
        <div class="p-1">
            <img class="mx-auto d-block p-2" src="/Images/icons8-security-shield-green-50.png" />
            <h2 class="text-center">BEZPIECZEŃSTWO</h2>
            <p>Kładziemy nacisk na <strong>bezpieczeńswto naszych aplikacji</strong>. Korzystamy z najnowszych rozwiązań w zakresie bezpieczeństwa baz danych i bezpieczeństwa w sieci. </p>
            @*<a class="main-links pt-1" href="#">Dowiedz się więcej <i class="fas fa-chevron-right"></i></a>*@
        </div>
        <div class="p-1">
            <img class="mx-auto d-block p-2" src="/Images/icons8-idea-sharing-50.png" />
            <h2 class="text-center">INNOWACYJNOŚĆ</h2>
            <p>Korzystamy z <strong>najnowszych technologii</strong> zapewniających bezproblemowe funkcjonowanie naszych rozwiązań.</p>
            @*<a class="main-links p-1" href="#">Dowiedz się więcej <i class="fas fa-chevron-right"></i></a>*@
        </div>
        <div class="p-1">
            <img class="mx-auto d-block p-2" src="/Images/icons8-consultation-50.png" />
            <h2 class="text-center">DORADZTWO</h2>
            <p>Pomagamy <strong>analizować</strong> potrzeby firmy celem dostosowania najlepszych rozwiązań usprawniających funkcjonowanie przedsiębiorstwa.</p>
            @*<a class="main-links p-1" href="#">Dowiedz się więcej <i class="fas fa-chevron-right"></i></a>*@
        </div>
    </div>
</section>

<!--Home cards 1-->
<hr />
<section class="home-cards">
    <div class="offer">
        <img class="d-block" src="~/Images/pexels-fauxels-3183153.jpg" alt="" />
        <div class="">
            <h3 class="text-center"><strong>Aplikacje webowe</strong></h3>
            <p>Zajmujemy się tworzeniem aplikacji webowych oraz późniejszym wsparciem technicznym dla klientów. </p>
            <a asp-page="/Marketing/WebSolutions/Index" class="main-links text-center">Sprawdź produkty <i class="fas fa-chevron-right"></i></a>
        </div>
    </div>

    <div class="offer">
        <img class="d-block" src="~/Images/pexels-pixabay-265087.jpg" alt="" />
        <div class="">
            <h3 class="text-center"><strong>Aplikacje desktopowe</strong></h3>
            <p>Część naszych usług stanowią również aplikacje desktopowe.</p>
            <a asp-page="/Marketing/DesktopSolutions/Index" class="main-links text-center">Sprawdź produkty <i class="fas fa-chevron-right"></i></a>
        </div>
    </div>

    <div class="offer">
        <img class="d-block" src="~/Images/pexels-fauxels-3183197.jpg" alt="" />
        <div class="">
            <h3 class="text-center"><strong>Indywidualne rozwiązania</strong></h3>
            <p>Szukasz innych rozwiązań? Sprawdź co jeszcze możemy dla Ciebie zrobić.</p>
            <a asp-page="/Marketing/IndividualSolutions/Index" class="main-links">Sprawdź produkty <i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
</section>
<hr />

<section class="contact-us ">
    <div class="contact">
        <div class="contact-details col-7">
            <h2 class="text-center pt-2">Skontaktuj się z nami</h2>
            <h5>Jeśli jesteś zainteresowany współpracą lub chcesz się dowiedzieć więcej na temat naszej oferty, zapraszamy do kontaku.</h5>
            <p>Nasz adres email to: <a class="main-links" href="mailto:biuro@systemywp.pl">biuro@systemywp.pl</a></p>
            <p>Zarejestrowani użytkownicy mogą skorzystać z <a class="main-links" asp-page="/Communication/Index">formularza kontaktowego</a>, który jest dostępny po zalogowaniu.</p>
        </div>
    </div>
</section>

<script>
    var myCarousel = document.querySelector('#myCarousel')
    var carousel = new bootstrap.Carousel(myCarousel)
</script>