@page
@model SWP.UI.Pages.IndexModel
@{
}
<section>
    <div id="myCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
        @*<ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleDark" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleDarks" data-bs-slide-to="2"></li>
        </ol>*@
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Images/jess-bailey-q10VITrVYUM-unsplash-small.jpg" class="d-block w-100" alt="Computer" />
                <div class="carousel-text">
                    <h2>Systemy Wspomagania Pracy</h2>
                    <a class="main-link ml-5" asp-page="/Marketing/Products">Poznaj nasze produkty</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Images/pexels-fauxels-3183197-small.jpg" class="d-block w-100" alt="Computer">
                <div class="carousel-text">
                    <h5>Second slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Images/pexels-pixabay-265087-small.jpg" class="d-block w-100" alt="...">
                <div class="carousel-text">
                    <h5>Third slide label</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleDark" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleDark" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden"></span>
        </a>
    </div>
</section>

















<header class="showcase" id="header">
    <h2>Systemy Wspomagania Pracy</h2>
    <a class="main-link" asp-page="/Marketing/Products">Poznaj nasze produkty</a>
</header>
<!--Home cards 1-->
<h2 class="text-center mt-5" id="offer">OFERTA</h2>
<hr />
<section class="home-cards">
    <div class="offer">
        <img class="" src="~/Images/pexels-fauxels-3183153.jpg" alt="" />
        <div class="">
            <h3><strong>Aplikacje webowe</strong></h3>
            <p>Zajmujemy się tworzeniem aplikacji webowych oraz późniejszym wsparciem technicznym dla klientów. </p>
            <a asp-page="/Marketing/Legal">Sprawdź produkty <i class="fas fa-chevron-right"></i></a>
        </div>
    </div>

    <div class="offer">
        <img class="" src="~/Images/pexels-pixabay-265087.jpg" alt="" />
        <div class="">
            <h3><strong>Aplikacje desktopowe</strong></h3>
            <p>Część naszych usług stanowią również aplikacje desktopowe.</p>
            <a asp-page="/Marketing/PasswordManager">Sprawdź produkty <i class="fas fa-chevron-right"></i></a>
        </div>
    </div>

    <div class="offer">
        <img class="" src="~/Images/pexels-fauxels-3183197.jpg" alt="" />
        <div class="">
            <h3><strong>Indywidualne rozwiązania</strong></h3>
            <p>Szukasz innych rozwiązań? Sprawdź co jeszcze możemy dla Ciebie zrobić.</p>
            <a asp-page="/Marketing/IndividualSolutions">Sprawdź produkty <i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
</section>

<section class="mb-5 steps ">
    <h2 class="text-center mt-5 ">JAK DZIAŁAMY </h2>
    <hr />
    <div class="row mt-4 mb-4">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h4 class="instr-1"><img src="~/Images/icons8-number-1-48.png" /> Rejestracja <span class="color-font">konta</span></h4>
            Załóż konto! Tylko zarejestrowany uzytkowik może mieć odstęp do usług i uzyskać o nich informacje.
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h4 class="instr-1"><img src="~/Images/icons8-number-2-48.png" />Przyznanie <span class="color-font">dostępu</span></h4>
            Każdego użytkownika traktujemy indywidualnie, dlatego przyznanie dostępu do usług jest możliwe jedynie po skontktowaniu sie z nami -tu link to strony kontaktowej-.
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h4 class="instr-1"><img src="~/Images/icons8-3-c-48.png" /> Użytkowanie <span class="color-font">konta</span></h4>
            Gdy uzgodnimy z jakich usług użytkownik chciałby korzystać, po stworzeniu przez nas indywidualnego profilu użytkownika oraz po uregulowaniu płatności, dostęp do wybranych usług zostanie odblokowany.
        </div>
    </div>
</section>

<script>
    var myCarousel = document.querySelector('#myCarousel')
    var carousel = new bootstrap.Carousel(myCarousel)
</script>