@page
@model SWP.UI.Pages.IndexModel
@{
}
<header class="showcase" id="header">
    <h2>Systemy Wspomagania Pracy</h2>
    <a asp-page="/Marketing/Products">Poznaj nasze produkty</a>
    <!--<a href="#" class="btn">
         Shop Now <i class="fas fa-chevron-right"></i>
     </a>-->
</header>
<!--Home cards 1-->
<h2 class="text-center mt-5" id="offer">OFERTA</h2>
<hr />

<section class="home-cards">
    <div>
        <img class="img-card" src="~/Images/pexels-fauxels-3183153.jpg" alt="" />
        <h3>Aplikacje webowe</h3>
        <p>Zajmujemy się tworzeniem aplikacji webowych oraz późniejszym wsparciem technicznym dla klientów. Aplikacje stworzone przez nas utrzymywane są na platformie hostingowej Webio - na rynku od 2008 roku.</p>
    </div>
    <div>
        <img class="img-card" src="~/Images/pexels-pixabay-265087.jpg" alt="" />
        <h3>Aplikacje desktopowe</h3>
        <p>Zajmujemy się tworzeniem aplikacji webowych oraz późniejszym wsparciem technicznym dla klientów. Aplikacje stworzone przez nas utrzymywane są na platformie hostingowej Webio - na rynku od 2008 roku.</p>
    </div>
    <div>
        <img class="img-card" src="~/Images/pexels-fauxels-3183197.jpg" alt="" />
        <h3>Indywidualne rozwiązania</h3>
        <p>Szukasz innych rozwiązań? Sprawdź co jeszcze możemy dla Ciebie zrobić.</p>
    </div>
</section>

<section class="mb-5">
    <h2 class="text-center mt-5 ">JAK DZIAŁAMY </h2>
    <hr />
    <div class="row mt-4 mb-4">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h4 class="instr-1">KROK 1. Rejestracja <span class="color-font">konta</span></h4>
            Załóż konto, tylko zarejestrowany uzytkowik może mieć odstęp do usług i uzyskać o nich informacje.
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h4 class="instr-1">KROK 2. Przyznanie <span class="color-font">dostępu</span></h4>
            Każdego użytkownika traktujemy indywidualnie, dlatego przyznanie dostępu do usług jest możliwe jedynie po skontktowaniu sie z nami -tu link to strony kontaktowej-.
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h4 class="instr-1">KROK 3. Użytkowanie <span class="color-font">konta</span></h4>
            Gdy uzgodnimy z jakich usług użytkownik chciałby korzystać, po stworzeniu przez nas indywidualnego profilu użytkownika oraz po uregulowaniu płatności, dostęp do wybranych usług zostanie odblokowany.
        </div>
    </div>
</section>

<!--Products
<section class="products mt-3 pt-5" id="products">
    <h2 class="text-center mt-5">PRODUKTY</h2>
    <hr />
    <div class="row">
        <div class="col-6">
            <h2>SWP Kancelaria</h2>
            <p>Lorem ipsum...tutaj bedzoe krotki opis aplikacji</p>
            <a href="#" class="btn">
                Przejdź do cennika <i class="fas fa-chevron-right"></i>
            </a>
        </div>
        <div class="col-6">
            <img class="img-fluid" src="~/Images/pexels-fauxels-3183153.jpg" />
        </div>

    </div>
    <div class="row mt-3 pt-3">
        <div class="col-6">
            <img class="img-fluid" src="~/Images/pexels-pixabay-265087.jpg" />
        </div>
        <div class="col-6">
            <h2>Password manager</h2>
            <p>Za Darmo!</p>

            <a asp-page-handler="DownloadPasswordManager" class="btn">
                Pobierz najnowszą wersję <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </div>
    <div class="row mt-3 pt-3">
        <div class="col-6">
            <h2>SWP Kancelaria</h2>
            <p>Lorem ipsum...tutaj bedzoe krotki opis aplikacji</p>
            <a href="#" class="btn">
                Przejdź do cennika <i class="fas fa-chevron-right"></i>
            </a>
        </div>
        <div class="col-6">
            <img class="img-fluid" src="~/Images/pexels-fauxels-3183197.jpg" />
        </div>

    </div>
</section>-->
<!--Price-card
<section class="price-card mt-3 pt-3 mb-5" id="prices">
    <h2 class="text-center mt-5">CENNIK</h2>
    <hr />
    <div class="card text-center">
        <div class="card-header">
            SWP Kancelaria
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    <h5 class="card-title">SWP Kancelaria</h5>
                    <p class="text-left">
                        Jedna subskrypcja obejmująca aplikacje pakietu Office klasy premium, 1 TB przestrzeni dyskowej w chmurze oraz zaawansowane zabezpieczenia dla poczty e-mail i plików*.

                        Platforma Microsoft 365 Personal zapewnia Ci następujące możliwości:
                        • Uzyskiwanie sugestii dotyczących projektu i pisania oraz szablonów, zdjęć stockowych, ikon i czcionek w programach Word, Excel i PowerPoint
                        • Uzyskiwanie dostępu do plików i zdjęć na różnych urządzeniach oraz udostępnianie ich
                        • Świadomość, że pliki są chronione przez wbudowane wykrywanie oprogramowania wymuszającego okup i funkcje odzyskiwania; najważniejsze pliki są chronione za pomocą weryfikacji dwuetapowej w Magazynie osobistym usługi OneDrive
                        • Uzyskiwanie dostępu do nowych funkcji od razu po ich opublikowaniu
                        • Kontakt z pomocą techniczną za pośrednictwem czatu lub telefonu, bez dodatkowych opłat w subskrypcji

                        *Dostępność aplikacji różni się w zależności od urządzenia/języka. Funkcje różnią się w zależności od platformy.
                    </p>
                </div>
                <div class="col-4">
                    <h2>200,00 zł/rok</h2>
                    <a href="#" class="btn mt-2">
                        Kup i pobierz <i class="fas fa-chevron-right"></i>
                    </a>
                    <p class="mt-2">
                        Produkty do pobrania będą Ci dostarczane za pomocą linku pobierania udostępnianego po sfinalizowaniu zakupu.
                    </p>

                </div>
            </div>

        </div>
        <div class="card-footer text-muted">
            Usługa Office 365 Personal zmieniła nazwę na Microsoft 365 Personal. Nowa nazwa, więcej korzyści, ta sama cena.
        </div>
    </div>

    <div class="card text-center mt-3 ">
        <div class="card-header">
            SWP Password manager
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    <h5 class="card-title">SWP Password manager</h5>
                    <p class="text-left">
                        Jedna subskrypcja obejmująca aplikacje pakietu Office klasy premium, 1 TB przestrzeni dyskowej w chmurze oraz zaawansowane zabezpieczenia dla poczty e-mail i plików*.

                        Platforma Microsoft 365 Personal zapewnia Ci następujące możliwości:
                        • Uzyskiwanie sugestii dotyczących projektu i pisania oraz szablonów, zdjęć stockowych, ikon i czcionek w programach Word, Excel i PowerPoint
                        • Uzyskiwanie dostępu do plików i zdjęć na różnych urządzeniach oraz udostępnianie ich
                        • Świadomość, że pliki są chronione przez wbudowane wykrywanie oprogramowania wymuszającego okup i funkcje odzyskiwania; najważniejsze pliki są chronione za pomocą weryfikacji dwuetapowej w Magazynie osobistym usługi OneDrive
                        • Uzyskiwanie dostępu do nowych funkcji od razu po ich opublikowaniu
                        • Kontakt z pomocą techniczną za pośrednictwem czatu lub telefonu, bez dodatkowych opłat w subskrypcji

                        *Dostępność aplikacji różni się w zależności od urządzenia/języka. Funkcje różnią się w zależności od platformy.
                    </p>
                </div>
                <div class="col-4">
                    <h2>200,00 zł/rok</h2>
                    <a href="#" class="btn mt-2">
                        Kup i pobierz <i class="fas fa-chevron-right"></i>
                    </a>
                    <p class="mt-2">
                        Produkty do pobrania będą Ci dostarczane za pomocą linku pobierania udostępnianego po sfinalizowaniu zakupu.
                    </p>

                </div>
            </div>
        </div>

<div class="card-footer text-muted">
    Usługa Office 365 Personal zmieniła nazwę na Microsoft 365 Personal. Nowa nazwa, więcej korzyści, ta sama cena.
</div>
    </section>
-->
