@page
@model SWP.UI.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container border">
    <div class="py-2 px-3">
        <h1>Polityka Prywatności</h1>

        <h4 class="py-2">A. Wprowadzenie</h4>
        <p>
            Prywatność odwiedzających naszą stronę internetową jest dla nas bardzo ważna i dokładamy wszelkich starań, aby ją chronić.
        </p>
        <p>
            Niniejsza polityka wyjaśnia, co robimy z Twoimi danymi osobowymi.
            Zgoda na korzystanie z plików cookie zgodnie z warunkami niniejszej polityki podczas pierwszej wizyty na naszej stronie pozwala nam na korzystanie z plików cookie przy każdej kolejnej wizycie na naszej stronie.
        </p>

    </div>
</div>