@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potwierdzenie odzyskania hasła";
}

<h2 class="pb-2 pt-3">@ViewData["Title"]</h2>
<p class="pb-3">
    Na podany adres email przesłaliśmy link do resetu hasła.
</p>

