@page
@model LockoutModel
@{
    ViewData["Title"] = "Uwaga! Zablokowano możliwość zalogowania do tego konta";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Przekroczono limit nieudanych prób zalogowania do tego konta. Dla bezpieczeństwa zostało ono zablokowane na 15 minut. Prosimu spróbować ponownie po upływie tego czasu.</p>
</header>
