@page
@model SWP.UI.Pages.Marketing.Legal.IndexModel
@{
}
<div class="container mb-5 mt-5">
    <div class="card product-card m-auto shadow-lg p-3 mb-5 bg-white rounded">
        <img class="card-img" src="~/Images/tingey-injury-law-firm-yCdPU73kGSc-unsplash.jpg" />
        <div class="card-body">
            <h2 class="card-title text-center mb-4">TWOJA KANCELARIA</h2>
            <p class="card-text">Zarządzaj swoimi klientami, sprawami i kalendarzem, wszystko w jednym miejscu. .</p>
            <hr />
            <div class="row">
                <div class="col-6">
                    <ul class="list-group">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="list-group">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                    </ul>
                </div>
            </div>
            <hr />
            <h4 class="mb-4 text-center">DODATKOWE INFORMACJE</h4>
            <div class="row">

                <div class="col-4">
                    <h6 class="instr-1">Technologia</h6>
                    <p>With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="col-4">
                    <h6 class="instr-1">Technologia</h6>
                    <p>With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="col-4">
                    <h6 class="instr-1">Technologia</h6>
                    <p>With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-4">
                    <h6 class="instr-1">Dostęp</h6>
                    <p>With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="col-4">
                    <h6 class="instr-1">Wsparcie</h6>
                    <p>With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="col-4">
                    <h6 class="instr-1">Cennik</h6>
                    <p>With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>

        </div>
    </div>
</div>