@page
@model SWP.UI.Pages.Communication.IndexModel
@{
}

@if (User.Identity.IsAuthenticated)
{
    <a asp-page="/Communication/Request">Przejdz do Panelu Kontaktu</a>
}
else
{
    <p>Tylko zarejestrowane użytkownik może wysyłać komunikację!</p>
}


