@page
@model SWP.UI.Pages.Communication.IndexModel
@{
}

<p>Zgłoszenie problemu</p>

<a asp-page="/Communication/PurchaseRequest">Złóż zgłoszenie</a>


<p>Informacji co trzeba zrobic zeby moc zlozyc zgloszenie o zakup aplikacji</p>

<a asp-page="/Communication/Request">Wyślij zgłoszenie</a>

