@page
@using SWP.UI.Components.PortalBlazorComponents
@model SWP.UI.Pages.Communication.RequestModel
@{
}

<p>Komponent:</p>
<component type="typeof(RequestsPanel)" render-mode="Server" param-ActiveUserId="@(Model.ActiveUserId)" />

