@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="row">
    <div class="col-md-9">
        <p>Na tej stronie możesz usunąć lub ściągnąć wszystkie dane którymi się z nami podzieliłeś podczas rejestracji.</p>
        <p class="pt-3">
            <strong>Usunięcie tych danych spowoduje nieodwracalne usunięcie konta!</strong>
        </p>
        <div class="rodo-links">
            <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
                <button class="btn" type="submit">Ściągnij Dane</button>
            </form>
            <form id="delete" asp-page="DeletePersonalData" method="post" class="form-group">
                <button class="btn" type="submit">Usuń Dane</button>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}