@page
@model SWP.UI.Pages.Marketing.IndexModel
@{
}

<div class="container">
        <h4>Marketing page</h4>
    <div class="row mb-5 ">
        <div class="col-md-6 col-sm-12 mt-5">
            <div class="hovereffect">
                <img class="img-responsive img-thumbnail" src="~/Images/pexels-pixabay-265087.jpg" alt="">
                <div class="overlay">
                    <h2>Web applications</h2>
                    <a class="info" asp-page="/Marketing/LegalSwpOffer" target="_blank">SWP Kancelaria</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 mt-5">
            <div class="hovereffect">
                <img class="img-responsive img-thumbnail" src="~/Images/pexels-fauxels-3183153.jpg" alt="">
                <div class="overlay">
                    <h2>Desktop applications</h2>
                    <a class="info" asp-page="/Marketing/PasswordManagerSwpOffer" target="_blank">SWP Password Manager</a>
                </div>
            </div>
        </div>
    </div>
</div>

