@page
@model SWP.UI.Pages.Marketing.ProductsModel
@{
}

<ul>
    <li><a asp-page="/Marketing/Legal/Index">kancelaria</a></li>
    <li><a asp-page="/Marketing/Medical/Index">gabinet</a></li>
    <li><a asp-page="/Marketing/PasswordManager/Index">hasla</a></li>
</ul>