<section>
    <RadzenCard>
        <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="margin-bottom: 20px" />
        @if (!string.IsNullOrEmpty(Message))
        {
            <h1>@Message</h1>
        }
    </RadzenCard>
</section>


