
<div class="section">
    <RadzenCard>
        <div class="columns is-0 is-centered">
            <h2>Select Profile</h2>
        </div>
        <div class="columns is-0 is-centered">
            <RadzenDropDown AllowClear="true" TValue="int"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true"
                            Data="@ProfileFilterRecords" TextProperty="Profile" ValueProperty="Id" Change="@(args => SelectedProfileChange(args))" />
        </div>
    </RadzenCard>
</div>

<div class="section">
    <table class="table">
        <thead>
            <tr>
                <th>Data</th>
                <th>Count</th>
                <th>Checked</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Clients</th>
                <td>38</td>
                <td>23</td>
            </tr>
        </tbody>
    </table>
</div>
