

<h3>LegalSwpErrorComponent</h3>


<p>@Appvm.ErrorPage.Exception</p>



<RadzenButton Click="Appvm.ErrorPage.DismissMessage">Refresh Application</RadzenButton>




@code {
    [Parameter]
    public LegalSwpApp Appvm { get; set; }
    [Parameter]
    public EventCallback<LegalSwpApp> AppvmChanged { get; set; }
}
