<h3>LegalSwpErrorComponent</h3>


<p>@App.ErrorPage.Exception</p>



<RadzenButton Click="App.ErrorPage.DismissMessage">Refresh Application</RadzenButton>

@code {
    [Parameter]
    public LegalBlazorApp App { get; set; }
    [Parameter]
    public EventCallback<LegalBlazorApp> AppChanged { get; set; }
}
