<h1>Moja Aplikacja</h1>

<div class="row">
        <RadzenChart ColorScheme="@App.MyAppPage.ColorScheme">
            <RadzenPieSeries Data="@App.MyAppPage.ClientsCases" Title="Sprawy" CategoryProperty="Category" ValueProperty="Number" />
        </RadzenChart>
 
</div>


@code {
    [Parameter]
    public LegalBlazorApp App { get; set; }
    [Parameter]
    public EventCallback<LegalBlazorApp> AppChanged { get; set; }
}
