@using SWP.UI.Components.LegalSwpBlazorComponents.CasesInnerComponents 
@inject GeneralViewModel generalViewModel

<h2>Sprawy</h2>

@if (App.ActiveCustomerWithData != null)
{
    <RadzenButton Click="@(() => App.CasesPanel.SetActivePanel(CasesPage.Panels.AddCase))" Text="Case Data" Style="margin-bottom: 20px;" />
    <RadzenButton Click="@(() => App.CasesPanel.SetActivePanel(CasesPage.Panels.Admin))" Text="Admin" Style="margin-bottom: 20px;" />
}

@if (App.Loading)
{

}
else
{
    switch (App.CasesPanel.ActivePanel)
    {
        case CasesPage.Panels.Admin:
            <h2>Panel Administracyjny</h2>
            <h2>Zarządzaj sprawami aktywnego klienta (@App.ActiveCustomerWithData.Name)</h2>

            <RadzenDialog />
            <RadzenNotification />
            <AdminCase @bind-App="App"></AdminCase>
            break;
        case CasesPage.Panels.AddCase:
            <AddCase @bind-App="App"></AddCase>       
            break;
        default:
            break;
    }
}

@code {
    [Parameter]
    public LegalBlazorApp App { get; set; }
    [Parameter]
    public EventCallback<LegalBlazorApp> AppChanged { get; set; }
}
