
<h2>Coś poszło nie tak!</h2>

<p>Odśwież aplikację klikając guzik poniżej</p>

<p>@ErrorStore.GetState().Exception.Message</p>

<RadzenButton Click="MainStore.DismissErrorPage">Odśwież</RadzenButton>
