

<h1>Moja Aplikacja</h1>

<div class="row">
    <div class="col-md-6 col-sm-12 p-4">
        <RadzenChart>
            <RadzenDonutSeries Data="@App.MyAppPage.ClientsCases" CategoryProperty="Category" ValueProperty="Number">
                <TitleTemplate>
                    <div class="rz-donut-content">
                        <div>Revenue</div>
                        <div>for 2020</div>
                    </div>
                </TitleTemplate>
            </RadzenDonutSeries>
        </RadzenChart>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-12 p-4">
        <RadzenChart>
            <RadzenDonutSeries Data="@App.MyAppPage.ClientsCases" CategoryProperty="Category" ValueProperty="Number">
                <TitleTemplate>
                    <div class="rz-donut-content">
                        <div>Revenue</div>
                        <div>for 2020</div>
                    </div>
                </TitleTemplate>
            </RadzenDonutSeries>
        </RadzenChart>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-12 p-4">
        <RadzenChart>
            <RadzenDonutSeries Data="@App.MyAppPage.ClientsCases" CategoryProperty="Category" ValueProperty="Number">
                <TitleTemplate>
                    <div class="rz-donut-content">
                        <div>Revenue</div>
                        <div>for 2020</div>
                    </div>
                </TitleTemplate>
            </RadzenDonutSeries>
        </RadzenChart>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-12 p-4">
        <RadzenChart>
            <RadzenDonutSeries Data="@App.MyAppPage.ClientsCases" CategoryProperty="Category" ValueProperty="Number">
                <TitleTemplate>
                    <div class="rz-donut-content">
                        <div>Revenue</div>
                        <div>for 2020</div>
                    </div>
                </TitleTemplate>
            </RadzenDonutSeries>
        </RadzenChart>
    </div>
</div>


@code {
    [Parameter]
    public LegalBlazorApp App { get; set; }
    [Parameter]
    public EventCallback<LegalBlazorApp> AppChanged { get; set; }
}
