@using SWP.UI.Components.LegalSwpBlazorComponents.SchedulerInnerComponents
@inject GeneralViewModel generalViewModel

<h2>Kalendarz</h2>

<div class="row">
    <div class="col-md-12">
        <RadzenDialog />
        <RadzenNotification />

        <RadzenScheduler @ref="Appvm.CalendarPanel.RemindersScheduler" style="height: 768px;" TItem="ReminderViewModel" Data="@Appvm.CalendarPanel.Reminders" StartProperty="Start" EndProperty="End"
                         TextProperty="Name" SelectedIndex="2" AppointmentSelect="@Appvm.CalendarPanel.OnAppointmentSelect" AppointmentRender="@Appvm.CalendarPanel.OnAppointmentRender">
            <RadzenDayView />
            <RadzenWeekView />
            <RadzenMonthView />
        </RadzenScheduler>
    </div>
</div>

@code {
    [Parameter]
    public LegalSwpApp Appvm { get; set; }
    [Parameter]
    public EventCallback<LegalSwpApp> AppvmChanged { get; set; }
}
