@page
@model SWP.UI.Pages.Marketing.PasswordManager.IndexModel
@{
}

<div class="container">
    <div class="module-2">
        <header>
            <h1>
                Password Manager
            </h1>
            <p>Zarządzaj swoimi hasłami w bezpieczny sposób.</p>
        </header>
    </div>
    <hr />
    <section>
        <div>

        </div>
    </section>
</div>

<section class="pb-5">
    <div class="app-tex ">
        <h2 class="text-center">Opis głównych funkcji</h2>
        <p>
            Password Manager został stworzony z myślą o bezpieczeństwie haseł. Pozwala tworzyć silne hasła zgodne z rekomendacjami dotyczącymi bezpieczeństwa haseł. Czy wiesz, że hasła powinny składać się z co najmniej dziesięciu znaków, zawierających wielkie i małe litery oraz cyfry i znaki specjalne? Z password managerem nie musisz zastanawiać się jak skonstruować dobre hasło, ponieważ program wygeneruje je za Ciebie.
        </p>
        <div class="product-section">
            <div class="p-2">
                <img class="mx-auto d-block p-2" src="/Images/icons8-password-50.png" />
                <p>Aplikacja stanowi bezpieczną bazę haseł. Intuicyjny panel pozwla na łatwe dodawanie lub modyfikowanie Klientów.</p>
                <p>Zrezygnuj z utrzymywania danych kontaktowych w notesie! Twoja Kancelaria w łatwy sposób pomoże uporządkować listę Twoich klinetów oraz osób kontaktowych</p>
            </div>
            <div class="p-2">
                <img class="mx-auto d-block p-2" src="/Images/icons8-computer-50.png" />
                <p>Aplikacja stanowi bazę Twoich klinetów. Intuicyjny panel pozwla na łatwe dodawanie lub modyfikowanie Klientów.</p>
                <p>Zrezygnuj z utrzymywania danych kontaktowych w notesie! Twoja Kancelaria w łatwy sposób pomoże uporządkować listę Twoich klinetów oraz osób kontaktowych</p>
            </div>
            <div class="p-2">
                <img class="mx-auto d-block p-2" src="/Images/icons8-private-folder-50.png" />
                <p>Aplikacja stanowi bazę Twoich klinetów. Intuicyjny panel pozwla na łatwe dodawanie lub modyfikowanie Klientów.</p>
                <p>Zrezygnuj z utrzymywania danych kontaktowych w notesie! Twoja Kancelaria w łatwy sposób pomoże uporządkować listę Twoich klinetów oraz osób kontaktowych</p>
            </div>

        </div>
    </div>
    <hr />
    <div class="d-flex flex-row screens pb-3">
        <div><img class="rzut-1" src="/Images/password-mng-main.png" /></div>
        <div><img class="rzut-2" src="/Images/password-mng-dashboard.png" /></div>
        <div><img class="rzut-3" src="/Images/password-mng-create=pass.png" /></div>

    </div>
</section>
<hr />
<section class="pricing-table d-flex align-items-center">
    <div class="container pt-4">
        <h2 class="text-center pt-2 pb-2">Cennik</h2>
        <div class="row mb-5">
            <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0 price-card">
                    <div class="card-body text-dark">
                        <h4 class="card-title text-uppercase text-center font-weight-bolder">
                            Strony internetowe
                        </h4>
                        <h6 class="card-price text-center">od 800PLN<span class="term"></span></h6>
                        <h5 class="text-center text-uppercase font-weight-bolder">Wordpress</h5>
                        <hr class="my-4">
                        <ul class="fa-ul">
                            <li>
                                <img src="Images\icons8-check-mark-12.png" /> strona tworzona na podstawie
                                originalnego szablonu
                            </li>
                            <li><img src="Images\icons8-check-mark-12.png" /> system zarządzania treścią (CMS)</li>
                            <li>
                                <img src="Images\icons8-check-mark-12.png" /> optymalizacja treści, aby była
                                bardziej przyjazna dla wyszukiwarek (SEO)
                            </li>
                            <li><img src="Images\icons8-cross-mark-12.png" /> Rejestracja domeny</li>
                            <li><img src="Images\icons8-cross-mark-12.png" /> Hosting</li>
                            <li><img src="Images\icons8-cross-mark-12.png" /> Wprowadzanie zmian </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0 price-card">
                    <div class="card-body text-dark">
                        <h4 class="card-title text-uppercase text-center font-weight-bolder">
                            Strony internetowe
                        </h4>
                        <h6 class="card-price text-center">od 1600PLN<span class="term"></span></h6>
                        <h5 class="text-center text-uppercase font-weight-bolder">Projekty Indywidualne</h5>
                        <hr class="my-4">
                        <ul class="fa-ul">
                            <li>
                                <img src="Images\icons8-check-mark-12.png" />unikatowy design
                            </li>
                            <li><img src="Images\icons8-check-mark-12.png" /> system zarządzania treścią (CMS)</li>
                            <li>
                                <img src="Images\icons8-check-mark-12.png" /> dodatkowe opcje dla użytkowników
                            </li>
                            <li><img src="Images\icons8-check-mark-12.png" /> </li>

                            <li><img src="Images\icons8-cross-mark-12.png" /> Rejestracja domeny</li>
                            <li><img src="Images\icons8-cross-mark-12.png" /> Hosting</li>
                            <li><img src="Images\icons8-cross-mark-12.png" /> Wprowadzanie zmian </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card price-card">
                    <div class="card-body text-dark">
                        <h4 class="card-title text-uppercase text-center font-weight-bolder">
                            Aplikacje
                        </h4>
                        <h6 class="card-price text-center">od 1600PLN<span class="term"></span></h6>
                        <h5 class="text-center text-uppercase font-weight-bolder">Projekty Indywidualne</h5>
                        <hr class="my-4">
                        <ul class="fa-ul">
                            <li><img src="Images\icons8-check-mark-12.png" /> 150GB Storage</li>
                            <li>
                                <img src="Images\icons8-check-mark-12.png" /> Unlimited Public Projects
                            </li>
                            <li><img src="Images\icons8-check-mark-12.png" /> Community Access</li>
                            <li>
                                <img src="Images\icons8-check-mark-12.png" /> Unlimited Private
                                Projects
                            </li>
                            <li>
                                <img src="Images\icons8-check-mark-12.png" /> Dedicated Phone Support
                            </li>
                            <li>
                                <img src="Images\icons8-check-mark-12.png" /> <strong>Unlimited</strong>
                                Free Subdomains
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr />
<section>
    <div class="col-12 pb-5 text-center">
        <h2 class="text-center pt-2 pb-2">Skontaktuj się z nami</h2>
        <h5>Jeśli interesuje Cię ta aplikacja i chcesz się dowiedzieć więcej na temat naszej oferty, zapraszamy do kontaku.</h5>
        <p>Nasz adres email to: <a class="main-links" href="mailto:biuro@systemywp.pl">biuro@systemywp.pl</a></p>
        <p>Zarejestrowani użytkownicy mogą skorzystać z <a class="main-links" asp-page="/Communication/Index">formularza kontaktowego</a>, który jest dostępny po zalogowaniu.</p>
    </div>
</section>



