<div class="pb-4">
    <h2 class="pb-2">Witaj w panelu kontaktowym!</h2>

    <p class="pb-2">Użyj opcji Wyślij wiadomość...Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

    <RadzenButton Click="@CreateRequest"><img class="r-btn" src="/Images/icons8-send-email-24.png" />Wyślij Wiadomość</RadzenButton>
</div>