@using BlazorApp.PortalApp.Stores.Requests.RequestsPanel

@* Główny Komponent *@

@if (Store.GetState().CurrentComponent != RequestsMainPanelState.InnerComponents.Info)
{
    <RadzenButton ButtonStyle="ButtonStyle.Secondary" Click="ActivateHelpPanel"><img class="r-btn" src="/Images/icons8-double-left-24 (1).png" />Wróć</RadzenButton>
}

<div class="row pt-4">
    <div class="col-md-12">
        @switch (Store.GetState().CurrentComponent)
        {
            case RequestsMainPanelState.InnerComponents.Info:
                <Info />
                break;
            case RequestsMainPanelState.InnerComponents.Create:
                <RequestCreate />
                break;
        }
    </div>

    <div class="col-md-12">
        <RadzenCard>
            <h2 class="pb-1">Historia komunikacji</h2>
            <p class="pb-3">Wybierz wiadomość żeby zobaczyć szczegóły.</p>

            @if (Store.GetState().Requests is null || Store.GetState().Requests.Count == 0)
            {
                <p>Nie masz jeszcze żadnych wiadomości. Użyj guzika "Wyślij wiadomość". aby dodać nowe zapytanie.</p>
            }
            else
            {
                <RadzenGrid @ref="Store.GetState().RequestsGrid" AllowFiltering="true" AllowPaging="true" PageSize="15" AllowSorting="true" RowSelect="@(args => RequestSelected(args))"
                            Data="@Store.GetState().Requests" TItem="RequestViewModel">
                    <Columns>
                        <RadzenGridColumn TItem="RequestViewModel" Property="Created" Title="Utworzono">
                            <Template Context="record">
                                @record.Created.ToString("yyyy.MM.dd HH:mm:ss");
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="RequestViewModel" Property="Updated" Title="Ostatnia zmiana">
                            <Template Context="record">
                                @record.Updated.ToString("yyyy.MM.dd HH:mm:ss");
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="RequestViewModel" Property="DisplaySubject" Title="Temat">
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="RequestViewModel" Property="DisplayStatus" Title="Status">
                        </RadzenGridColumn>
                    </Columns>
                </RadzenGrid>
            }
        </RadzenCard>
    </div>
    <div class="col-md-12">
        @switch (Store.GetState().CurrentComponent)
        {
            
            case RequestsMainPanelState.InnerComponents.Details:
                <RequestDetails />
                break;
            default:
                break;
        }
    </div>

</div>




