<h3>RequestsPanel</h3>


@*<div>
    <RadzenSteps Change=@OnChange>
        <Steps>
            <RadzenStepsItem Text="Rodzaj Zgłoszenia">
                <p>sie wybiera na podtawie Presetu</p>

            </RadzenStepsItem>
            <RadzenStepsItem Text="Szczegóły Zgłoszenia" Disabled="@(customer == null)">
                <h3>Select Order</h3>



            </RadzenStepsItem>
            <RadzenStepsItem Text="Dodatkowy Komentarz" Disabled="@(order == null)">
                <h3>Wiadomość</h3>
                <RadzenTextArea />

            </RadzenStepsItem>
        </Steps>
    </RadzenSteps>
</div>


@code{
    string customer;
    string order;

    void OnChange(int index)
    {
       
    }

}*@
