<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SWP | ADMIN PANEL</title>
    <base href="/" />

    <link rel="icon" href="@Url.Content("~/Images/admin-panel-images/computer.png")" />

    <environment include="Production">
        <link href="~/css/bulma/css/bulma.min.css" rel="stylesheet" />
    </environment>

    <environment include="Development">
        <link href="~/css/bulma/css/bulma.css" rel="stylesheet" />
        @*<link href="~/css/Debug.css" rel="stylesheet" />*@
    </environment>

    <link rel="stylesheet" href="_content/Radzen.Blazor/css/humanistic-base.css">
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
</head>

<body>
    @RenderBody()

    <script src="~/_framework/blazor.server.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>