<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SWP</title>
    <base href="/" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/swpCss/SWPAppStyle.css" rel="stylesheet" />
    <link href="~/css/swpCss/loader.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap"
          rel="stylesheet" />

    <environment include="Development">
        @*<link href="~/css/Debug.css" rel="stylesheet" />*@
    </environment>

    <link rel="stylesheet" href="_content/Radzen.Blazor/css/humanistic-base.css">
    <link href="SWP.UI.styles.css" rel="stylesheet" />
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
</head>

<body>
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/_framework/blazor.server.js"></script>
    <script src="~/js/saveAsFile.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
