@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IAuthorizationService authService

@if (SignInManager.IsSignedIn(User))
{
    <ul class="right">
        @if ((await authService.AuthorizeAsync(User, "RootClient")).Succeeded)
        {
            <li class="nav-item">
                <p>Typ Konta: Konto Głowne</p>
            </li>
        }
        else
        {
            <li class="nav-item">
                <p>Typ Konta: Konto Powiązane</p>
            </li>
        }
        <li class="nav-item">
            <a class="" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <form class="" asp-area="Identity" asp-page="/Account/Logout">
                <button type="submit" class="btn">Wyloguj</button>
            </form>
        </li>
    </ul>
}
else
{
    <ul class="right">
        <li class="nav-item "><a class="reg-item" asp-area="Identity" asp-page="/Account/Register">Zarejestruj się</a></li>
        <li class="nav-item "><a class="reg-item" asp-area="Identity" asp-page="/Account/Login">Zaloguj</a></li>
    </ul>
}

