@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <ul class="main-menu nav navbar-nav right">
        <li class="nav-item p-lg-4">
            <a class="" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>
        </li>
        <li class="nav-item p-lg-4">
            <form class="" asp-area="Identity" asp-page="/Account/Logout">
                <button type="submit" class="btn">Wyloguj</button>
            </form>
        </li>
    </ul>
}
else
{
    <ul class="main-menu nav navbar-nav">
        <li class="nav-item p-lg-4"><a class="reg-item" asp-area="Identity" asp-page="/Account/Register">Zarejestruj się</a></li>
        <li class="nav-item p-lg-4"><a class="reg-item" asp-area="Identity" asp-page="/Account/Login">Zagoluj</a></li>
    </ul>
}

