@using Microsoft.AspNetCore.Identity
@using SWP.UI.Utilities
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IAuthorizationService authService

@if (SignInManager.IsSignedIn(User))
{
    <ul class="right">
        @if ((await authService.AuthorizeAsync(User, PortalNames.Policies.RootClient)).Succeeded)
        {
            <li class="nav-item">
                <strong>Konto Główne</strong>
            </li>
        }
        else if ((await authService.AuthorizeAsync(User, PortalNames.Policies.RelatedAccount)).Succeeded)
        {
            <li class="nav-item">
                Konto Powiązane
            </li>
        }
        <li class="nav-item">
            <img src="/Images/icons8-male-user-24.png" /> <strong><a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a></strong>
        </li>
        <li class="nav-item">
            <form class="" asp-area="Identity" asp-page="/Account/Logout">
                <button type="submit" class="btn">Wyloguj</button>
            </form>
        </li>
    </ul>
}
else
{
    <ul class="right">
        <li class="nav-item "><a class="reg-item" asp-area="Identity" asp-page="/Account/Register">Zarejestruj się</a></li>
        <li class="nav-item "><a class="reg-item" asp-area="Identity" asp-page="/Account/Login">Zaloguj</a></li>
    </ul>
}

