


<div>
    <RadzenDataList WrapItems="true" AllowPaging="true" Data="@App.ActiveClientWithData.Cases" TItem="CaseViewModel" PageSize="5">
        <Template Context="c">
            <RadzenCard Style="width:350px; height:150px;" @onclick="(() => App.RedirectToCase(c.Id))">
                <div class="">
                    <div class="row">
                        <div class="col-5 border-right">
                            <h5 class="pt-2 pb-2">Case Name:</h5>
                            <h5 class="pt-2 pb-2">Description:</h5>
                        </div>
                        <div class="col-7">
                            <p class="pt-2 pb-2">@c.Name</p>
                            <p class="pt-2 pb-2">@c.Description</p>
                        </div>
                    </div>
                </div>
            </RadzenCard>
        </Template>
    </RadzenDataList>
</div>

@code {
    [Parameter]
    public LegalBlazorApp App { get; set; }
    [Parameter]
    public EventCallback<LegalBlazorApp> AppChanged { get; set; }
}
